---
title: null
---
<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body class="main-page">
    {% assign logo = "MEIMEI LU" %}
    {% include header.html %}
    <main>
      <div class="bg-img-container">
        <img class="bg-img" src="/assets/wayfarer-bg.webp" />
        <a href="works"><div class="view-works animate__animated animate__fadeInLeft">View works</div></a>
      </div>
    </main>
    <footer>
      <div class="line-sep"></div>
    </footer>
  </body>
</html>
