---
title: Meimei Lu - UI/UX Designer in San Diego
description: Portfolio of Meimei Lu, a UI/UX designer in San Diego specializing in web design, app prototyping, and user-centered digital experiences.
---
<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body class="index-page">
    {% include header.html %}
    <main>
      <div class="bg-img-container">
        <div class="index-name-container">
          <img class="index-name" src="/assets/index/name.png" />
          <div class="index-play-game ">
            <a href="/work/ui-ux/artifice-street/">
              <div class="play-game">
                <img class="animate animate__animated animate__rotateIn" src="assets/index/game-btn.png"/>
              </div>
            </a>
          </div>
        </div>
        <div class="index-view-works">
          <a href="/work/ui-ux">
            <div class="view-works mb-4 animate animate__animated animate__fadeInLeft">
              <img src="assets/index/view-works-btn.png" />
            </div>
          </a>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
