<footer>
  <div class="line-sep"></div>
  <div class="work-line-sep"></div>
  <div class="footer-links row">
    <div class="col-md-4">
      <div class="footer-item">
        <a href="mailto:meimeilu@gwu.edu"><i class="fa fa-envelope fa-xs" aria-hidden="true"></i> meimeilu@gwu.edu</a>
      </div>
    </div>
    <div cLass="col-md-3">    
      <div class="footer-item">
        <a href="tel:202-577-2130"><i class="fa fa-phone fa-xs" aria-hidden="true"></i> 202-577-2130</a>
      </div>
    </div>
    <div class="col-md-3"> 
      <div class="footer-item"> 
        <a href="https://www.linkedin.com/in/meimei-lu-239bb5222/"><i class="fa-brands fa-linkedin-in fa-xs"></i> LinkedIn</a>
      </div>
    </div>
    <div class="col-md-2">  
      <div class="footer-item">
        <a href="https://www.behance.net/meimeilu1e80"><i class="fa-brands fa-behance fa-xs"></i> Behance</a>
      </div>
    </div>
  </div>
</footer>