/*********\
* GLOBALS *
\*********/

// global style rules
* {-webkit-font-smoothing: antialiased;}

html, body {
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  display: none;
}

// fonts
@font-face {
  font-family: "California";
  src: url("/assets/fonts/california.ttf");
}

@font-face {
  font-family: "Fahkwang";
  src: url("/assets/fonts/fahkwang-semibold.ttf");
}

@font-face {
  font-family: "Filmotype Leader";
  src: url("/assets/fonts/filmotype-leader.otf");
}

@font-face {
  font-family: "League Spartan";
  src: url("/assets/fonts/league-spartan.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-semibold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-semibolditalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins-bolditalic.ttf");
  font-style: italic;
  font-weight: 700;
}

// variables
// boostrap breakpoints. These are minimum widths. Always use with (max-width: )
// style rules for smaller sizes go after rules for larger sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


// This background image is used by the index page and the about pages
.bg-img-container {
  position: relative;
  background-image: url('/assets/bg-img-cropped.png');
  background-size: 100% auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: calc(100vh - #{$header_height} + 1px);
  overflow: auto;
}

.bg-img {
  width: 100%;
}

@media (max-width: $sm) {
  .bg-img-container {
    height: auto;
    overflow: hidden;
  }
}

// This sets up the background image for work-category and work-main pages
body.work-page {
  background-image: url("/assets/work/bg-img-top.png"), url("/assets/work/bg-img-repeat.png");
  background-repeat: no-repeat, repeat;
  background-position: top center, top center;
  background-size: 100% auto, 100% auto;
}


// Back arrow style. This styles all pages except for the about pages.
.back-arrow {
  color: #28A5A8;
  margin: 24px 0 -60px 65px;
}

.back-arrow div {
  display: inline-block;
  padding: 10px 0 0 5px;
  color: #28A5A8;
  text-align: center;
  font-family: Fahkwang;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.back-arrow svg {
  fill: #28A5A8;
}
