/******************\
* INDEX PAGE STYLE *
\******************/

body.index-page {
  background-color: #D8F6FA;
}




.index-name {
  width: 56%;
  text-align: center;
  margin: 0 auto 20px;
  padding-top: 20px;
  display: block;
}

.index-view-works {
  margin: 0 auto;
  text-align: center;
}

.index-view-works a {
  display: inline-block;
}
