/***********************\
* WORK CATEGORY STYLING *
\***********************/

body.work-category-page {
}

.work-category-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.work-category-button-container {
  display: inline;

}

.work-category-link-container {
  height: 172px;
  width: 172px;
}

.work-category-button {
  height: 172px;
  width: 172px;
  padding-top: 38px;
}

.work-category-button.selected {
  background: url('/assets/work/button-selected.png') no-repeat center center / cover;
}


.work-category-button img {
  width: 64px;
  height: 56px;
  display: block;
  margin: 0 auto 0;
}

.work-category-button div {
  margin: 0 auto;
  color: #3E2B2B;
  text-align: center;
  font-family: Fahkwang;
  font-size: 14px;
  font-style: normal;
  //font-weight: 600;
  line-height: normal;
}

.work-category-button.selected div {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 134px;
}

.work-category-img-container {
  background: url('/assets/work/work-mockup-box.png') no-repeat center center / cover;
  border-radius: 8px;
  box-shadow: 25px 46px 10px 0px rgba(139, 125, 106, 0.27);
  padding: 4% 0;
}

.work-category-cover-img {
  border-radius: 4px;
  background: #3A433D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  width: 95%;
  height: 92%;
  display: block;
}

.work-category {
  margin-bottom: 45px;
}

.work-category-caption {
  margin-top: 32px;
}

.work-category-caption-title {
  color: #3E2B2B;
  font-family: Fahkwang;
  font-size: 22px;
  font-style: normal;
  //font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.work-category-caption-arrow {
  margin-left: 15px;
}

.work-category-caption-separator {
  margin: 2px auto 7px;
  background: #342121;
  height: 1px;
  width: 100%;
}

.work-category-caption-subtitle {
  margin-top: 20px;
  color: #3E2B2B;
  font-family: "League Spartan";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.work-category-foot {
  margin: 20px;
}

.work-category-foot-text {
  position: fixed;
  right: 20px;
  bottom: 0px;
}