/************
** GENERAL **
************/

* {-webkit-font-smoothing: antialiased;}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Alokary";
  src: url("/assets/fonts/alokary.ttf");
}
@font-face {
  font-family: "Romana";
  src: url("/assets/fonts/romana.otf");
}
@font-face {
  font-family: "Alata";
  src: url("/assets/fonts/alata.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces.ttf");
}
@font-face {
  font-family: "Tamil";
  src: url("/assets/fonts/tamil.ttc");
}
@font-face {
  font-family: "Tofino";
  src: url("/assets/fonts/tofino.ttf");
}

/***********
** HEADER **
***********/

/* Global */
.top-links {
  position: relative;
  height: 110px;
  width: 100%;
}

.top-links div {
  display: inline-block;
  position: absolute;
}

.about {
  color: #fbf3ea;
  text-align: center;
  font: 400 16px "Alokary", serif;
  letter-spacing: 0.18em;
  width: 90px;
  left: calc(25% - 80.5px);
  margin: 40px 0 0 -45px;
}

.meimei-lu-logo {
  left: 50%;
  margin-left: -162px;
  text-align: center;
  width: 324px;
  height: 110px;
}

.meimei-lu-0, .meimei-lu-1, .meimei-lu-2 {
  color: #fbf3ea;
  text-align: center;
  font: 400 40px "Alokary", serif;
  letter-spacing: 0.18em;
  width: 322px;
}
.meimei-lu-0 {left: 0;}
.meimei-lu-1 {left: 1px;}
.meimei-lu-2 {left: 2px;}

.m-cover-0, .m-cover-1 {
  width: 11px;
  height: 2px;
  top: 66px;
}

.contact {
  color: #fbf3ea;
  text-align: center;
  font: 400 16px "Alokary", serif;
  letter-spacing: 0.18em;
  width: 110px;
  left: calc(75% + 80.5px);
  margin: 40px 0 0 -55px;

}

.line-sep {
  display: block;
  border-style: solid;
  border-color: #fbf3ea;
  border-width: 3px 0 0 0;
  margin-top: auto;
}

.about, .contact {
  top: 0;
  transition-property: top;
  transition-duration: 0.5s;
}

.about:hover, .contact:hover {
top: -10px;
}


/* Main page */
body.main-page {
  background-color: #97a291;
}

body.main-page .top-links {
  background-color: #97a291;
}

body.main-page .m-cover-0 {
  background-color: #97a291;
  left: 16px;
}

body.main-page .m-cover-1 {
  background-color: #97a291;
  left: 127px;
}


/* About page */
body.about-page {
  background-color: #c43730;
}

body.about-page .top-links {
  background-color: #c43730;
}

body.about-page .m-cover-0 {
  background-color: #c43730;
  left: 128px;
}

body.works-page .top-links {
  background-color: #50566A;
}

.mobile-header {
  display: none;
}

.mobile-header .about {
  left: 20%;
}

.mobile-header .contact {
  left: 80%;
}

/* Mobile styling rules */
@media (max-width: 576px) {
  .mobile-header {
    display: block;
  }
  .desktop-header {
    display: none;
  }
  body.main-page .m-cover-0 {left: 128px;}
  /* quick hack so I don't have to change the logo size due 
   * to a holdover from when the logo was wide everywhere */
  .meimei-lu-0, .meimei-lu-1, .meimei-lu-2 {z-index: 10;}
  .about, .contact {z-index: 20;}
}


/***********
*** MAIN ***
***********/

/* Global */
.bg-img-container {position: relative;}
.bg-img {width: 100%;}

/* Mobile styling rules */
@media (max-width: 576px) {
  .bg-img-container {
    height: auto;
    overflow: hidden;
  }
  .bg-img {width: 400%;}
}


/* Main page */
.view-works {
  letter-spacing: 0.07em;
  position: absolute;
  color: #fbf3ea;
  text-align: center;
  font: 400 24px "Romana", serif;
  border-radius: 100px;
  border-style: solid;
  border-color: #fbf3ea;
  border-width: 2px;
  width: 220px;
  margin-left: -110px;
  left: 50%;
  top: 60px;
  padding: 10px 0;
  transition-property: color background-color;
  transition-duration: 0.5s; 
}

.view-works:hover {
  color: #97a291;
  background-color:#fbf3ea;
}


/* About page */
.back-chevron {
  position: absolute;
  left: 1.5%;
  top: 1%;
  padding: 14px;
  z-index: 1;
}

.content-container {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.polaroid-container {
  position: static;
  height: 480px;
}

.polaroid-about-left {
  height: 350px;
  position: absolute;
  transform: rotate(-3.822deg);
  z-index: 3;
  left: 90px;
  top: 130px;
}

.polaroid-about-right {
  height: 350px;
  position: absolute;
  transform: rotate(7.528deg);
  z-index: 2;
  left: 280px;
  top: 180px;
}

.about-me-container {
  padding: 0;
  margin-top: 55px;
}

.about-me-frame {
  text-align: center;
  border-radius: 20px;
  width: 535px;
  height: 600px;
  margin: auto;
  background: #fbf3ea;
}

.about-me-title {
  color: #545454;
  font: 400 36px "Romana", serif;
  padding: 55px 0 30px 0;
}

.about-me-body {
  color: #545454;
  font: 400 16px "Alata", sans-serif;
  margin: 15px 83px;
  padding-bottom: 35px;
}

/* Contact */
.polaroid-contact-left {
  height: 350px;
  position: absolute;
  transform: rotate(-6.414deg);
  z-index: 1;
  left: 80px;
  top: 130px;
}

.polaroid-contact-right {
  height: 350px;
  position: absolute;
  transform: rotate(9.433deg);
  z-index: 2;
  left: 330px;
  top: 180px;
}

.contact-body {
  color: #545454;
  font: 400 26px "Romana", serif;
  text-align: left;
  margin: 90px 0 0 150px;
  padding-bottom: 45px;
}

/* Mobile styling rules */
@media (max-width: 576px) {
  .polaroid-container {
    width: 100%;
    height: 250px;
  }

  .polaroid-about-left {
    height: 200px;
    left: calc(50% - 145px);
    top: 5%
  }

  .polaroid-about-right {
    height: 200px;
    left: calc(50% - 25px);
    top: calc(5% + 30px);
  }

  .about-me-frame {
    width: 80%;
    height: auto;
  }

  .about-me-body {
    margin: 15px 30px;
  }

  .polaroid-contact-left {
    height: 200px;
    left: calc(50% - 160px);
    top: calc(8%);
  }

  .polaroid-contact-right {
    height: 200px;
    left: calc(50% - 15px);
    top: calc(8% + 30px);
  }

  .contact-body {
    margin: 0;
    padding: 20px 0 60px;
    text-align: center;
  }
}

/* Works page */
body.works-page {
  background-color: #fbf3ea;
}

body.works-page h1 {
  color: #50566A;
  text-align: center;
  font-family: Romana;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}

.back-btn {
  padding: 25px 10px;
  height: 125px;
}

.back-btn a {
  font-size: 0;
  float: left;
  padding: 15px;
}

@media (min-width: 768px) {
  .works-category {
    margin: 0 20%;
  }
}

.works-category-heading {
  margin: 20px 32px;
}

.works-category-heading a {
  display: inline-block;
  margin-top: -10px;
  padding: 5px;
  vertical-align: middle;
}

.works-category-heading .finger-right {
  height: 25px;
}

.works-category-title {
  color: #50566A;
  font-family: Romana;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 10px;
}

.works-category-img-container {
  margin-bottom: 100px;
  overflow: hidden;
}

.works-category-img-container img {
  width: 100%;
}

.end-card {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 0;
}

.end-card a {
  display: inline-block;
  width: 30%;
  height: 100%;
  margin-bottom: 20px;
}

.end-card .finger-up {
  display: inline-block;
  margin-bottom: 35px;
}

.finger-left, .finger-right, .finger-up {
  height: 26px;
  vertical-align: middle;
}

.finger-left {
  transform: scaleX(-1);
}

.finger-up {
  transform: rotate(-90deg);
}

/* Works category pages */
.works-heading-spacer {
  height: 25px;
}

.works-img-container {
  padding-top: 60%;
  overflow: hidden;
  position: relative;
}

.works-img-container img {
  width: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.works-caption-title {
  font-family: "Fraunces", serif;
  color: #50566A; 
  font-size: 24px;
  line-height: normal;
  margin: 8px 0;
}

.works-caption-type, .works-caption-tags {
  color: #50566A;
  font-family: "Tamil", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.works-caption-tags {
  font-weight: 400;
  margin-bottom: 75px;
}

/* Work main pages */
.work-title {
  color: #50566A;
  font-family: "Romana";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.work-category {
  font-style: italic;
}

.work-description, .work-category {
  color: #50566A;
  font-family: "Tofino", sans-serif;
  font-size: 18px;
}

.work-img-container {
  overflow: hidden;
}

.work-content-end-spacer {
  height: 150px;
}

div.work-line-sep {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #50566A;
  color: #50566A;
  margin: 40px 0 40px;
  padding: 0;
}

hr.work-line-sep {
  display: none;
}

.col-md-12 .work-img-container {
  height: auto;
}

.col-md-6 .work-img-container {
  height: auto;
}

.work-img-container img {
  width: 100%;
}

.page-item.prev {
  color: #373B4B;
  text-align: center;
  font-family: "Romana";
  font-size: 26px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  padding-left: 30px;
  float: left;
}

.page-item.next {
  color: #373B4B;
  text-align: center;
  font-family: "Romana";
  font-size: 26px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  padding-right: 30px;
  float: right;
}

/*************
*** FOOTER ***
*************/

.footer-links {
  margin: 30px 0;
}

.footer-item {
  margin: 15px 0;
  border-radius: 10px;
  text-align: center;
}

.footer-item a {
  padding: 7.5px 10px;
  background-color: #fbf3ea;
  border-radius: 5px;
}

body.works-page .line-sep {
  display: none;
}

body.main-page .work-line-sep {
  display: none;
}

body.about-page footer {
  display: none;
}