<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  {% include head.html %}
  <body class="works-page">
    {% include header.html %}
    <main class="work-page">
      <div class="back-btn">
        <a href="/works/{{ page.category }}"><img class="finger-left" src="/assets/finger.webp" /></a>
      </div>
      {{ page.content }}
      <!-- Pagination links -->
      <div class="work-content-end-spacer"></div>
      <div class="work-line-sep"></div><hr class="work-line-sep" />
      <div class="pagination">
        {% assign works_all = site.works | where_exp: "work","work.category == page.category" %}
        {% assign works_after = works_all | where_exp: "work","work.priority > page.priority" %}
        {% assign works_after_sorted = works_after | sort: "priority" %}
        {% assign next_work = works_after_sorted[0] %}

        {% assign works_before = works_all | where_exp: "work","work.priority < page.priority" %}
        {% assign works_before_sorted = works_before | sort: "priority" | reverse %}
        {% assign prev_work = works_before_sorted[0] %}

        {% if prev_work %}
          <div class="page-item prev me-auto">
            <a href="{{ prev_work.url }}">Previous Project<!--<br /> {{ prev_work.title }}--></a>
          </div>
        {% else %}
          <div class="page-item prev me-auto">
            <a href="..">Return to {{ page.category | capitalize }} Projects</a>
          </div>
        {% endif %}
        <br/>
        {% if next_work %}
          <div class="page-item next ms-auto">
            <a href="{{ next_work.url }}">Next Project<!--<br /> {{ next_work.title }}--></a>
          </div>
        {% else %}
          <div class="page-item next ms-auto">
            <a href="..">Return to {{ page.category | capitalize }} Projects</a>
          </div>
        {% endif %}
      </div>
      <div class="work-line-sep"></div><hr class="work-line-sep" />
      <div class="end-card">
        <a href="#">
          <img class="finger-up" src="/assets/finger.webp" />
          <h1>BACK TO TOP</h1>
        </a>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>